In [1]:
import pandas as pd
xcel_path="C:\\Users\\ARNOB\\Desktop\\hmp.2.xlsx"
df=pd.read_excel(xcel_path)

In [2]:
df.head(20)

,Acc.1,Acc.2,Acc.3,Timestamp with Entry,Activity
0,22,49,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
1,22,49,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
2,22,52,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
3,22,52,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
4,21,52,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
5,22,51,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
6,20,50,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
7,22,52,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
8,22,50,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
9,22,51,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
10,21,51,33,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
11,20,50,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
12,21,49,33,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
13,21,49,33,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
14,20,51,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
15,18,49,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
16,19,48,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
17,16,53,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
18,18,52,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
19,18,51,32,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth

In [3]:
df['Acc.1']

0     22
1     22
2     22
3     22
4     21
5     22
6     20
7     22
8     22
9     22
10    21
11    20
12    21
13    21
14    20
15    18
16    19
17    16
18    18
19    18
Name: Acc.1, dtype: int64

In [4]:
df['Acc.1'].unique()

array([22, 21, 20, 18, 19, 16], dtype=int64)

In [10]:
df['Acc.1']>=20

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15    False
16    False
17    False
18    False
19    False
Name: Acc.1, dtype: bool

In [17]:
df1=df[df['Acc.1']>=21]

In [18]:
df1.head(20)

,Acc.1,Acc.2,Acc.3,Timestamp with Entry,Activity
0,22,49,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
1,22,49,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
2,22,52,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
3,22,52,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
4,21,52,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
5,22,51,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
7,22,52,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
8,22,50,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
9,22,51,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
10,21,51,33,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
12,21,49,33,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
13,21,49,33,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth

In [20]:
df1.to_excel("C:\\Users\\ARNOB\\Desktop\\hmp_augmented.2.xlsx")

In [21]:
augment_path="C:\\Users\\ARNOB\\Desktop\\hmp_augmented.2.xlsx"
df_aug=pd.read_excel("C:\\Users\\ARNOB\\Desktop\\hmp_augmented.2.xlsx")
df_aug.head(20)

,Unnamed: 0,Acc.1,Acc.2,Acc.3,Timestamp with Entry,Activity
0,0,22,49,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
1,1,22,49,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
2,2,22,52,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
3,3,22,52,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
4,4,21,52,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
5,5,22,51,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
6,7,22,52,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
7,8,22,50,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
8,9,22,51,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
9,10,21,51,33,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
10,12,21,49,33,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
11,13,21,49,33,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth

In [22]:
df_aug.tail(5)

,Unnamed: 0,Acc.1,Acc.2,Acc.3,Timestamp with Entry,Activity
7,8,22,50,34,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
8,9,22,51,35,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
9,10,21,51,33,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
10,12,21,49,33,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth
11,13,21,49,33,Accelerometer-2011-04-11-13-28-18-brush_teeth-...,Brush_teeth