In [1]:
import pandas as pd
from selenium import webdriver #ultimately was not needed for this case
from bs4 import BeautifulSoup
import requests
from tabulate import tabulate #ultimately was not needed for this case

In [2]:
res = requests.get("https://www.worldometers.info/coronavirus/")
soup = BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0] 
list_dataframes = pd.read_html(str(table))  
df=pd.concat(list_dataframes)
df.to_excel('C:\\Users\\ARNOB\\Desktop\\Worldmeters.xlsx')

In [3]:
excel_path="C:\\Users\\ARNOB\\Desktop\\Worldmeters.xlsx"
df1=pd.read_excel(excel_path)
df1.head()

,Unnamed: 0,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/ 1M pop
0,0,World,3728047,"+3,529",258356.0,329.0,1242500.0,2227191,49243.0,478.0,33.1,NaN,NaN
1,1,USA,1237633,NaN,72271.0,NaN,200628.0,964734,16179.0,3739.0,218.0,7727811.0,23347.0
2,2,Spain,250561,NaN,25613.0,NaN,154718.0,70230,2254.0,5359.0,548.0,1932455.0,41332.0
3,3,Italy,213013,NaN,29315.0,NaN,85231.0,98467,1427.0,3523.0,485.0,2246666.0,37158.0
4,4,UK,194990,NaN,29427.0,NaN,NaN,165219,1559.0,2872.0,433.0,1383842.0,20385.0